{% extends "main/header.html" %}

{% block content %}
<div class="row">
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Create Your Own</span>
        <p>Make your own custom spin to win game</p>
      </div>
      <div class="card-action">
        <a href="{% url 'main:wheelcreate' %}">Create</a>
      </div>
    </div>
  </div>

{% if wheel_list %}
  {% for wheel in wheel_list %}
    <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{wheel.name}}</span>
            <p>{{wheel.description}}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'main:wheel_public_view' pk=wheel.pk %}">View</a>
            <a href="{% url 'main:wheeldetail' pk=wheel.pk %}">Edit</a>
          </div>
        </div>
      </div>
  {% endfor %}
{% endif %}
</div>
{% endblock %}