{% extends "main/header.html" %}

{% block content %}
<h1>Game Wheel Detail</h1>
{% if wheel %}
<div class="row">
      <div class="col s7 push-s5">
        <!-- Render Game wheel -->
        <canvas id='wheelcanvas' width='500' height='600'>Canvas not supported, use another browser.</canvas>
        <script>
          let theWheel = new Winwheel({
            'canvasId':'wheelcanvas',
            'numSegments':'{{wheel.numSegments}}',
            'innerRadius':'{{wheel.innerRadius}}',
            'outerRadius':'{{wheel.outerRadius}}',
            'segments':
            [
                {'fillStyle':'#eae46f', 'text':'Prize name'},
            ]
          });
        </script>
      </div>
      <div class="col s5 pull-s7">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{wheel.name}}</span>
            <p>{{wheel.description}}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'main:wheeledit' pk=wheel.pk %}">edit</a>
          </div>
        </div>
      </div>
</div>

<div class="row">
        <h3>Prizes</h3>
        {% for segment in wheel.segment_set.all %}
            <div class="col s12 m6 l4">
                <a href="#", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{segment.name}}</div>
                            <!--<p style="font-size:70%">Published {{tut.tutorial_published}}</p>-->
                            <p>fillStyle {{segment.fillStyle}}</p>
                            <p>textFillStyle {{segment.textFillStyle}}</p>
                            <p>textFontSize{{segment.textFontSize}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'main:edit_segment' pk=segment.pk %}">edit</a> <!--fk=segment.wheel -->
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
</div>
{% endif %}
{% endblock %}