{% extends "main/header.html" %}

{% block content %}

<div class="row">
{% for wheel in wheel_list %}
    <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{wheel.name}}</span>
            <p>{{wheel.description}}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'main:wheeldetail' pk=wheel.pk %}">View</a>
            <a href="{% url 'main:wheeledit' pk=wheel.pk %}">Edit</a>
          </div>
        </div>
      </div>
{% endfor %}
</div>

{% endblock %}