<script>
  let theWheel = new Winwheel({
    'canvasId':'wheelcanvas',
    'numSegments':'{{wheel.numSegments}}',
    'innerRadius':'{{wheel.innerRadius}}',
    'outerRadius':'{{wheel.outerRadius}}',
    'textAlignment':'center',
    'segments':
    [
    {% for segment in wheel.segment_set.all %}
        {'fillStyle':'{{segment.fillStyle}}', 'text':'{{segment.name}}', 'textFontSize':'{{segment.textFontSize}}', 'textFillStyle':'{{segment.textFillStyle}}', 'textDescription':'{{segment.description}}'},
    {% endfor %}
    ],
    'animation' :           // Specify the animation to use.
        {
            'type'     : 'spinToStop',
            'duration' : 5,    // Duration in seconds.
            'spins'    : 3,     // Default number of complete spins.
            'callbackFinished' : alertPrize,
            'callbackSound'    : playSound,   // Function to call when the tick sound is to be triggered.
            'callbackAfter' : drawTriangle, // During the animation need to call the drawTriangle() to re-draw the pointer each frame.
            'soundTrigger'     : 'pin'        // Specify pins are to trigger the sound, the other option is 'segment'.
        },
    'pins' :        // Turn pins on.
        {
            'number'     : '{{wheel.numSegments}}',
            'fillStyle'  : 'white',
            'outerRadius': 5,
        }
    });

  // Draw triangle on the first canvas by getting the canvas
  // then using its 2d context to draw lines to make a triangle.
  let tcanvas = document.getElementById('wheelcanvas');
  let tx = tcanvas.getContext('2d');

  // Ensure that have context before calling function to draw.
  if (tx) {
    drawTriangle();
  }

  // Put draw code in a function since would have to call this
  // each frame of the animation to re-draw the pointer.
  function drawTriangle()
  {
      tx.strokeStyle = '#000000';     // Set line colour.
      tx.fillStyle   = '#F4511E';        // Set fill colour.
      tx.lineWidth   = 2;
      tx.beginPath();                 // Begin path.
      tx.moveTo(200, 1);             // Move to initial position.
      tx.lineTo(250, 1);             // Draw lines to make the shape.
      tx.lineTo(225, 50);
      tx.lineTo(201, 1);
      tx.stroke();                    // Complete the path by stroking (draw lines).
      tx.fill();                      // Then fill with colour.
    }

              // Loads the tick audio sound in to an audio object.
    let audio = new Audio("{% static 'main/assets/tick.mp3' %}");
    // Vars used by the code in this page to do power controls.
    let wheelPower    = 0;
    let wheelSpinning = false;
    // This function is called when the sound is to be played.
    function playSound()
    {
        // Stop and rewind the sound if it already happens to be playing.
        audio.pause();
        audio.currentTime = 0;

        // Play the sound.
        audio.play();
    }

    // -------------------------------------------------------
    // Click handler for spin button.
    // -------------------------------------------------------
    function startSpin()
    {
        // Ensure that spinning can't be clicked again while already running.
        if (wheelSpinning == false) {
            // Disable the spin button so can't click again while wheel is spinning.
            document.getElementById('spin_button').id       = "spin_button";
            document.getElementById('spin_button').className = "btn btn-large green accent-4";

            // Begin the spin animation by calling startAnimation on the wheel object.
            theWheel.startAnimation();

            // Set to true so that power can't be changed and spin button re-enabled during
            // the current animation. The user will have to reset before spinning again.
            wheelSpinning = true;
        }
    }

    // -------------------------------------------------------
    // Function for reset button.
    // -------------------------------------------------------
    function resetWheel(rotationAngle)
    {
        theWheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
        theWheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.
        theWheel.draw();                // Call draw to render changes to the wheel.
        drawTriangle();
        wheelSpinning = false;          // Reset to false to power buttons and spin can be clicked again.
    }

    // -------------------------------------------------------
    // Called when the spin animation has finished by the callback feature of the wheel because I specified callback in the parameters.
    // -------------------------------------------------------
    function alertPrize(indicatedSegment)
    {
        // Just alert to the user what happened. 
        // TODO: add something more interesting than this with the result.
            theWheel.stopAnimation(false);
            let pm = indicatedSegment.textDescription + ' ' + indicatedSegment.text;
            M.toast({html: pm, classes: 'blue rounded', displayLength:2000});
            wheelSpinning = false;
            theWheel.rotationAngle = theWheel.rotationAngle % 360
    }
</script>