<nav>
  <div class="nav-wrapper green">
    <a href="main:homepage" class="brand-logo center" alt="game wheel logo"><img src="{% static 'main/assets/logo.png' %}" width="80px" height="80px"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
<!--      <li><a href="/wheels/">Wheels</a></li>  -->
      <li><a href="/register">Create Account</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
