{% extends "main/header_wheel_public.html" %}
{% block content %}

<div class="row center">
    <div class="section"></div>
    <div class="divider"></div>
    <div class="section"><h1>{{wheel.name}}</h1></div>
    <div class="divider"></div>
    <div class="section">{{wheel.description}}</div>
    <div class="section">
        <button id="spin_button" class="btn btn-large blue" alt="Spin" onClick="startSpin();">Spin</button></div>
    <div class="section">
        <canvas id="wheelcanvas" width="500" height="500">Sorry, your browser doesn't support canvas. Please try another.</canvas>
    </div>
</div>

{% include "main/includes/gamewheel.html" %}

{% endblock %}